.vs
.env
*.env
/out
/CMakePresets.json
/CMakeUserPresets.json
/Scripts
/effectstest
/testchamber
/install
/build
/Test

.qtcreator/

# MSE (Metin2 Script Effect) not ready.
src/core/MseLoader.h
src/core/MseLoader.cpp
src/core/MdeLoader.cpp
src/core/MdeLoader.h
src/ui/windows/MseViewerWindow.cpp
src/ui/windows/MseViewerWindow.h
src/ui/widgets/MseViewerWidget.cpp
src/ui/widgets/MseViewerWidget.h

# AnimationClip not ready.
src/core/extractors/unity/UnityAnimationExtractor.h
src/core/extractors/unity/UnityAnimationExtractor.cpp
